{:paths ["src"]
 :deps
        {org.clojure/clojure            {:mvn/version "1.10.1"}
         org.clojure/math.combinatorics {:mvn/version "0.1.6"}}
 :aliases
        {:run         {:main-opts ["-m" "aoc.core"]}
         :test        {:extra-paths ["test" "config/test"]
                       :extra-deps  {lambdaisland/kaocha           {:mvn/version "0.0-529"}
                                     lambdaisland/kaocha-cloverage {:mvn/version "1.0.63"}}
                       :main-opts   ["-m" "kaocha.runner"]}
         :socket-repl {:jvm-opts ["-Dclojure.server.repl={:port,50505,:accept,clojure.core.server/repl}"]}}}

